<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
</head>
<body>
    <div class="col">
        <div id="loginFormContainer" class="d-flex justify-content-center mx-auto row">
            <div id="loginFormHeader">
                <img id="loginFormHeaderLogo" src="../../../assets/logo.png" alt="Logo">
            </div>
            <form class="d-flex row justify-content-center">
                <div id="loginFormBody">
                    <div class="mb-4 col-md-12">
                        <label for="loginInputEmail" class="form-label">Email cím</label>
                        <input type="email" class="form-control mx-auto" id="loginInputEmail">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Jelszó</label>
                        <input type="password" class="form-control mx-auto">
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputPassword1" class="form-label">Jelszó újra</label>
                        <input type="password" class="form-control mx-auto">
                    </div>
                    <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="token" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                </div>
                <div id="loginFormFooter" class="row">
                    <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc4wjcdAAAAAF-Yo1C2HrSThKcsrM8vFppMSOeT"></script>
</body>
</html>