<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home">FootTour</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#about">Az oldalról</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">Rólunk</a>
        </li>
        <li class="nav-item">
          <a href="#contact" class="nav-link">Kapcsolat</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Adatbázis</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" routerLink="/database/tournaments" (click)="setTitle('Tornák')">Tornák</a>
            <a class="dropdown-item" routerLink="/database/players" (click)="setTitle('Játékosok')">Játékosok</a>
          </div>
        </li>
      </ul>
      <input *ngIf="!userService.user" type="button" value="Belépés" class="btn-outline-success btn-light btn button" routerLink="/login" (click)="setTitle('Belépés')">
      <input *ngIf="!userService.user" type="button" value="Regisztráció" class="btn btn-success button" routerLink="/register" (click)="setTitle('Regisztráció')">
      <span *ngIf="userService.user">{{userService.user.name}}</span>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
