<div id="container" class="d-flex mt-5 mx-auto" *ngIf="loaded | async">
  <div class="col mx-auto">
    <h2 class="text-center">{{tournament.name}}</h2>
    <br>
    <div *ngIf="tournament.type == 'Csoportkör és kieséses'" class="row">
      <div *ngFor="let group of groups" class="card text-dark bg-light m-5 mb-3 mx-auto" style="max-width: 45rem;">
        <div class="card-header">{{group.name[2]}} csoport</div>
        <div class="card-body">
          <table class="text-dark">
            <tr>
              <th>#</th>
              <th style="width: 200px;">Név</th>
              <th>M</th>
              <th>Gy</th>
              <th>D</th>
              <th>V</th>
              <th>GK</th>
              <th>P</th>
            </tr>
            <tr *ngFor="let team of getTeamsByGroupId(group.id); index as i">
              <td>{{i + 1}}</td>
              <td>{{team.name}}</td>
              <td>{{team.matches}}</td>
              <td>{{team.wins}}</td>
              <td>{{team.draws}}</td>
              <td>{{team.losses}}</td>
              <td>{{team.goalsFor}} : {{team.goalsAgainst}}</td>
              <td>{{team.points}}</td>
            </tr>
          </table>
        </div>
        <div class="card-footer">Mérkőzések</div>
        <div class="card-body">
          <table>
            <tr *ngFor="let match of getMatchesByGroupId(group.id)" [routerLink]="'/referee/' + match.id">
              <td style="text-align: right;">{{getTeamById(match.team1Id)}}</td>
              <td>{{match.team1Goals ?? '-'}}</td>
              <td>:</td>
              <td>{{match.team2Goals ?? '-'}}</td>
              <td>{{getTeamById(match.team2Id)}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <hr class="mx-auto">
    </div>
    <table class="mx-auto" *ngIf="tournament.teamsCount == 32 && tournament.type == 'Egyenes kieséses'">
      <thead>
        <tr>
          <th colspan="4">Legjobb 32</th>
          <th></th>
          <th></th>
          <th colspan="4">Nyolcaddöntők</th>
          <th></th>
          <th></th>
          <th colspan="4">Negyeddöntők</th>
          <th></th>
          <th></th>
          <th colspan="4">Elődöntők</th>
          <th></th>
          <th></th>
          <th [attr.colspan]="tournament.finalMatches== 2 ? 4 : 2">Döntő</th>
        </tr>
      </thead>
      <tbody *ngFor="let pair of groupsR32; index as i">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 2 == 1 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" [innerText]="i % 2 == 1 ? 'NyolcaddöntőTeam' : ''"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" [innerText]="i % 4 == 2 ? 'NegyeddöntőTeam' : ''"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 8 == 2 || i % 8 == 3 || i % 8 == 4 || i % 8 == 5 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" [innerText]="i % 8 == 4 ? 'ElődöntőTeam' : ''"></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td
            [attr.class]="i == 4 || i == 5 || i == 6 || i == 7 || i == 8 || i == 9 || i == 10 || i == 11 ? 'border-right' : ''">
          </td>
          <td></td>
          <td [attr.class]="i == 8 ? 'background' : ''" [innerText]="i == 8 ? 'DöntőTeam' : ''"></td>
          <td [attr.class]="i == 8 ? 'background' : ''" [colSpan]="tournament.finalMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i == 8 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
          <td [attr.class]="i == 8 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
        </tr>
        <tr>
          <td class="background">
            {{getTeam(pair.id).split("\n")[0]}}</td>
          <td class="background" [attr.colspan]="tournament.knockoutMatches == 2 ? 1 : 3"
            [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[0]">{{getGoals(pair.id,
            0).split("\n")[0] == 'null' ? '-' : getGoals(pair.id, 0).split("\n")[0]}}</td>
          <td
            *ngIf="tournament.teamsCount == 32 && tournament.type == 'Egyenes kieséses' && tournament.knockoutMatches == 2"
            class="background" [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[1]">{{getGoals(pair.id,
            1).split("\n")[0] == 'null' ? '-' : getGoals(pair.id,
            1).split("\n")[0]}}
          </td>
          <td
            *ngIf="tournament.teamsCount == 32 && tournament.type == 'Egyenes kieséses' && tournament.knockoutMatches == 2"
            class="background">{{getOverallGoals(pair.id, 0)}}
          </td>
          <td class="border-bottom" [attr.class]="i % 2 == 1 ? 'border-right border-bottom' : 'border-bottom'"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 8 == 2 || i % 8 == 3 || i % 8 == 4 || i % 8 == 5 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td
            [attr.class]="i == 4 || i == 5 || i == 6 || i == 7 || i == 8 || i == 9 || i == 10 || i == 11 ? 'border-right' : ''">
          </td>
        </tr>
        <tr>
          <td class="background">
            {{getTeam(pair.id).split("\n")[1]}}</td>
          <td class="background" [attr.colspan]="tournament.knockoutMatches == 2 ? 1 : 3"
            [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[0]">{{getGoals(pair.id, 0).split("\n")[1] ==
            'null' ? '-' : getGoals(pair.id, 0).split("\n")[1]}}</td>
          <td
            *ngIf="tournament.teamsCount == 32 && tournament.type == 'Egyenes kieséses' && tournament.knockoutMatches == 2"
            class="background" [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[1]">{{getGoals(pair.id,
            1).split("\n")[1] == 'null' ? '-' : getGoals(pair.id, 1).split("\n")[1]}}
          </td>
          <td
            *ngIf="tournament.teamsCount == 32 && tournament.type == 'Egyenes kieséses' && tournament.knockoutMatches == 2"
            class="background">{{getOverallGoals(pair.id, 1)}}
          </td>
          <td [attr.class]="i % 2 == 0 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 8 == 2 || i % 8 == 3 || i % 8 == 4 || i % 8 == 5 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td
            [attr.class]="i == 4 || i == 5 || i == 6 || i == 7 || i == 8 || i == 9 || i == 10 || i == 11 ? 'border-right' : ''">
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 2 == 0 ? 'border-right' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" [innerText]="i % 2 == 0 ? 'NyolcaddöntőTeam' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td
            [attr.class]="i % 2 == 0 && i % 4 == 2 ? 'border-bottom border-right' : i % 2 == 0 ? 'border-bottom' : i % 4 == 1 ? 'border-right' : ''">
          </td>
          <td [attr.class]="i % 4 == 1 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" [innerText]="i % 4 == 1 ? 'NegyeddöntőTeam' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td
            [attr.class]="i % 8 == 5 ? 'border-bottom border-right' : i % 4 == 1 ? 'border-bottom' : i % 8 == 2 || i % 8 == 3 || i % 8 == 4 ? 'border-right' : ''">
          </td>
          <td [attr.class]="i % 8 == 3 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" [innerText]="i % 8 == 3 ? 'ElődöntőTeam' : ''">
          </td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td
            [attr.class]="i == 11 ? 'border-bottom border-right' : i % 8 == 3 ? 'border-bottom' : i == 4 || i == 5 || i == 6 || i == 7 || i == 8 || i == 9 || i == 10 ? 'border-right' : ''">
          </td>
          <td [attr.class]="i == 7 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i == 7 ? 'background' : ''" [innerText]="i == 7 ? 'DöntőTeam' : ''">
          <td [attr.class]="i == 7 ? 'background' : ''" [colSpan]="tournament.finalMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i == 7 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
          <td [attr.class]="i == 7 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
        </tr>
      </tbody>
    </table>
    <table class="mx-auto"
      *ngIf="tournament.teamsCount == 16 && tournament.type == 'Egyenes kieséses' || tournament.teamsCount == 32 && tournament.type == 'Csoportkör és kieséses'">
      <thead>
        <tr>
          <th colspan="4">Nyolcaddöntők</th>
          <th></th>
          <th></th>
          <th colspan="4">Negyeddöntők</th>
          <th></th>
          <th></th>
          <th colspan="4">Elődöntők</th>
          <th></th>
          <th></th>
          <th [attr.colspan]="tournament.finalMatches== 2 ? 4 : 2">Döntő</th>
        </tr>
      </thead>
      <tbody *ngFor="let pair of groupsR16; index as i">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 2 == 1 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''"
            [innerText]="i % 2 == 1 ? groupsQF.length > 0 ? getTeam(groupsQF[floor(i / 2)].id).split('\n')[1] : 'NegyeddöntőTeam' : ''">
          </td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''"
            [routerLink]="'/referee/' + getMatchId(groupsQF[floor(i / 2)].id).split('\n')[0]"
            [innerText]="i % 2 == 1 ? groupsQF.length > 0 ? getGoals(groupsQF[floor(i / 2)].id, 0).split('\n')[1] == 'null' ? '-' : getGoals(groupsQF[floor(i / 2)].id, 0).split('\n')[1] : '' : ''"
            [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"
            [routerLink]="'/referee/' + getMatchId(groupsQF[floor(i / 2)].id).split('\n')[1]"
            [innerText]="i % 2 == 1 ? groupsQF.length > 0 ? getGoals(groupsQF[floor(i / 2)].id, 1).split('\n')[1] == 'null' ? '-' : getGoals(groupsQF[floor(i / 2)].id, 1).split('\n')[1] : '' : ''">
          </td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"
            [innerText]="i % 2 == 1 ? groupsQF.length > 0 ? getOverallGoals(groupsQF[floor(i / 2)].id, 1) : '' : ''">
          </td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''"
            [innerText]="i % 4 == 2 ? groupsSF.length > 0 ? getTeam(groupsSF[floor(i / 4)].id).split('\n')[1] : 'ElődöntőTeam' : ''">
          </td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 8 == 2 || i % 8 == 3 || i % 8 == 4 || i % 8 == 5 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" [innerText]="i % 8 == 4 ? 'DöntőTeam' : ''"></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" [colSpan]="tournament.finalMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
          <td [attr.class]="i % 8 == 4 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
        </tr>
        <tr>
          <td class="background">
            {{getTeam(pair.id).split("\n")[0]}}</td>
          <td class="background" [attr.colspan]="tournament.knockoutMatches == 2 ? 1 : 3"
            [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[0]">{{getGoals(pair.id,
            0).split("\n")[0] == "null" ? "-" : getGoals(pair.id, 0).split("\n")[0]}}</td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background"
            [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[1]">{{getGoals(pair.id, 1).split("\n")[0] ==
            "null"
            ? "-" : getGoals(pair.id, 1).split("\n")[0]}}
          </td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background">{{getOverallGoals(pair.id, 0)}}
          </td>
          <td class="border-bottom" [attr.class]="i % 2 == 1 ? 'border-right border-bottom' : 'border-bottom'"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 8 == 2 || i % 8 == 3 || i % 8 == 4 || i % 8 == 5 ? 'border-right' : ''"></td>
        </tr>
        <tr>
          <td class="background">
            {{getTeam(pair.id).split("\n")[1]}}</td>
          <td class="background" [attr.colspan]="tournament.knockoutMatches == 2 ? 1 : 3"
            [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[0]">{{getGoals(pair.id,
            0).split("\n")[1] == "null" ? "-" : getGoals(pair.id, 0).split("\n")[1]}}</td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background"
            [routerLink]="'/referee/' + getMatchId(pair.id).split('\n')[1]">{{getGoals(pair.id, 1).split("\n")[1] ==
            "null"
            ? "-" : getGoals(pair.id, 1).split("\n")[1]}}
          </td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background">{{getOverallGoals(pair.id, 1)}}
          </td>
          <td [attr.class]="i % 2 == 0 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 8 == 2 || i % 8 == 3 || i % 8 == 4 || i % 8 == 5 ? 'border-right' : ''"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 2 == 0 ? 'border-right' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''"
            [innerText]="i % 2 == 0 ? groupsQF.length > 0 ? getTeam(groupsQF[floor(i / 2)].id).split('\n')[0] : 'NegyeddöntőTeam' : ''">
          </td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"
            [routerLink]="'/referee/' + getMatchId(groupsQF[floor(i / 2)].id).split('\n')[0]"
            [innerText]="i % 2 == 0 ? groupsQF.length > 0 ? getGoals(groupsQF[floor(i / 2)].id, 0).split('\n')[0] == 'null' ? '-' : getGoals(groupsQF[floor(i / 2)].id, 0).split('\n')[0] : '' : ''">
          </td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"
            [routerLink]="'/referee/' + getMatchId(groupsQF[floor(i / 2)].id).split('\n')[1]"
            [innerText]="i % 2 == 0 ? groupsQF.length > 0 ? getGoals(groupsQF[floor(i / 2)].id, 1).split('\n')[0] == 'null' ? '-' : getGoals(groupsQF[floor(i / 2)].id, 1).split('\n')[0] : '' : ''">
          </td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"
            [innerText]="i % 2 == 0 ? groupsQF.length > 0 ? getOverallGoals(groupsQF[floor(i / 2)].id, 0) : '' : ''">
          </td>
          <td
            [attr.class]="i % 2 == 0 && i % 4 == 2 ? 'border-bottom border-right' : i % 2 == 0 ? 'border-bottom' : i % 4 == 1 ? 'border-right' : ''">
          </td>
          <td [attr.class]="i % 4 == 1 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''"
            [innerText]="i % 4 == 1 ? groupsSF.length > 0 ? getTeam(groupsSF[floor(i / 4)].id).split('\n')[0] : 'ElődöntőTeam' : ''">
          </td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" [colSpan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" *ngIf="tournament.knockoutMatches == 2"></td>
          <td
            [attr.class]="i % 8 == 5 ? 'border-bottom border-right' : i % 4 == 1 ? 'border-bottom' : i % 8 == 2 || i % 8 == 3 || i % 8 == 4 ? 'border-right' : ''">
          </td>
          <td [attr.class]="i % 8 == 3 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" [innerText]="i % 8 == 3 ? 'DöntőTeam' : ''">
          </td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" [colSpan]="tournament.finalMatches == 2 ? 1 : 3"></td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
          <td [attr.class]="i % 8 == 3 ? 'background' : ''" *ngIf="tournament.finalMatches == 2"></td>
        </tr>
      </tbody>
    </table>
    <table class="mx-auto"
      *ngIf="tournament.teamsCount == 8 || tournament.teamsCount == 16 && tournament.type == 'Csoportkör és kieséses'">
      <thead>
        <tr>
          <th colspan="4">Negyeddöntők</th>
          <th></th>
          <th></th>
          <th colspan="4">Elődöntők</th>
          <th></th>
          <th></th>
          <th [attr.colspan]="tournament.finalMatches== 2 ? 4 : 2">Döntő</th>
        </tr>
      </thead>
      <tbody *ngFor="let pair of groupsQF; index as i">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 2 == 1 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''" [innerText]="i % 2 == 1 ? 'NyolcaddöntőTeam' : ''"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''"></td>
          <td [attr.class]="i % 2 == 1 ? 'background' : ''"></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
          <td></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''" [innerText]="i % 4 == 2 ? 'NegyeddöntőTeam' : ''"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''"></td>
          <td [attr.class]="i % 4 == 2 ? 'background' : ''"></td>
        </tr>
        <tr>
          <td class="background">
            {{getTeam(pair.id).split("\n")[0]}}</td>
          <td class="background" [attr.colspan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background">
          </td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background">
          </td>
          <td class="border-bottom" [attr.class]="i % 2 == 1 ? 'border-right border-bottom' : 'border-bottom'"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
        </tr>
        <tr>
          <td class="background">
            {{getTeam(pair.id).split("\n")[1]}}</td>
          <td class="background" [attr.colspan]="tournament.knockoutMatches == 2 ? 1 : 3"></td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background">
          </td>
          <td *ngIf="tournament.knockoutMatches == 2" class="background">
          </td>
          <td [attr.class]="i % 2 == 0 ? 'border-right' : ''"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 4 == 1 || i % 4 == 2 ? 'border-right' : ''"></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td [attr.class]="i % 2 == 0 ? 'border-right' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''" [innerText]="i % 2 == 0 ? 'NyolcaddöntőTeam' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''"></td>
          <td [attr.class]="i % 2 == 0 ? 'background' : ''"></td>
          <td
            [attr.class]="i % 2 == 0 && i % 4 == 2 ? 'border-bottom border-right' : i % 2 == 0 ? 'border-bottom' : i % 4 == 1 ? 'border-right' : ''">
          </td>
          <td [attr.class]="i % 4 == 1 ? 'border-bottom' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''" [innerText]="i % 4 == 1 ? 'NegyeddöntőTeam' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''"></td>
          <td [attr.class]="i % 4 == 1 ? 'background' : ''"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>