<div id="container" class="pt-5 mx-auto">
  <h1 class="text-center">Aktuális tornáim</h1>

  <div class="row row-cols-auto justify-content-around mx-auto">
    <div class="card m-4 col" style="width: 20rem;" *ngFor="let tournament of tournaments">
      <span class="mx-auto mt-5 mb-4 cardhead">FOOT TOUR</span>
      <hr class="mb-1">
      <div class="card-body text-center">
        <h4 class="card-title text-center">{{tournament.name}}</h4>
        <p class="card-text mt-4 text-start">
          <b> Szervező: </b> {{organizer}} <br>
          <b> Helyszín: </b> {{tournament.location + ' (' + tournament.county + ')'}} <br>
          <b> Nevezési díj: </b> {{tournament.entryFee}} Ft<br>
          <b> Időpont: </b> {{tournament.startDate | date: "yyyy.MM.dd hh:mm"}}
        </p>
        <input type="button" class="btn btn-primary btn-large" value="Részletek"
          [routerLink]="'/mytournaments/' + tournament.id">
      </div>
    </div>
  </div>
</div>
<div id="container" class="pt-5 mx-auto">
  <h1 class="text-center">Korábbi tornáim</h1>

  <div class="row row-cols-auto justify-content-around mx-auto">
    <div class="card m-4 col" style="width: 20rem;" *ngFor="let tournament of earlierTournaments">
      <span class="mx-auto mt-5 mb-4 cardhead">FOOT TOUR</span>
      <hr class="mb-1">
      <div class="card-body text-center">
        <h4 class="card-title text-center">{{tournament.name}}</h4>
        <p class="card-text mt-4 text-start">
          <b> Szervező: </b> {{organizer}} <br>
          <b> Helyszín: </b> {{tournament.location + ' (' + tournament.county + ')'}} <br>
          <b> Nevezési díj: </b> {{tournament.entryFee}} Ft<br>
          <b> Időpont: </b> {{tournament.startDate | date: "yyyy.MM.dd hh:mm"}}
        </p>
        <input type="button" class="btn btn-primary btn-large" [routerLink]="'/schedule/' + tournament.id" value="Részletek">
      </div>
    </div>
  </div>
  <div *ngIf="type == 'organizer'">
    <button id="new" routerLink="/newtournament">+</button>
  </div>
</div>