<div class="container mx-auto pt-5 mt-5">
    <div class="row justify-content-end justify-content-lg-center">
        <div class="col-6" id="headerContainer">
            <div id="title" class="title mt-5">
                FOOTTOUR
            </div>
            <div id="quote" class="title mt-5">
                AMATŐR TORNÁK,
                <br>
                PROFI SZINTEN
                <hr id="line">
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-auto w-100 mx-auto justify-content-around" id="containerTargetAudience">
    <div class="card col-3">
        <img src="../../../assets/mainpage/organizer.png" class="card-img-top w-25 mt-4 ms-4">
        <div class="card-body">
          <h5 class="card-title mt-3">Szervezők</h5>
          <p class="card-text mt-4 pb-5">
            Szervezzen tornát akár pár perc alatt és hirdesse az oldalon. A szervezéssel járó nehézségeket bízza ránk.
          </p>
        </div>
      </div>

      <div class="card col-3">
        <img src="../../../assets/mainpage/player.png" class="card-img-top w-25 mt-4 ms-4">
        <div class="card-body">
          <h5 class="card-title mt-3">Játékosok</h5>
          <p class="card-text mt-4 pb-5">
            Későn értesül a környező tornákról?<br>
            Kevés információt talál róluk? <br>
            Találja meg az Ön számára legideálisabb tornát és jelentkezzen!
          </p>
        </div>
      </div>

      <div class="card col-3">
        <img src="../../../assets/mainpage/referee.png" class="card-img-top w-25 mt-4 ms-4">
        <div class="card-body">
          <h5 class="card-title mt-3">Játékvezetők</h5>
          <p class="card-text mt-4 pb-5">
            Letisztul adminisztrációs felület biztosítunk a mérkőzés jegyzőkönyvek megírásához.
          </p>
        </div>
      </div>
</div>
<div class="row mx-auto pt-5" id="matchreportSession">
    <div id="matchreportText" class="col-4 justify-content-center text-center d-flex">Mérkőzések nyomonkövetése</div>
    <div class="col-8">
        <img src="../../../assets/mainpage/matchreport.PNG" id="matchreport" class="float-end me-5" alt="matchreport">
    </div>
</div>
<div class="quote row mx-auto">
    <i class="bi bi-quote col-2"></i>
    <div id="firstQuote" class="row w-50 h-100 col-8 align-items-center justify-content-center d-flex mx-auto">
        <span>
            <q>A FootTour-nak hála sokkal több kispályás
            tornáról értesülönk a térségemben. Így
            a barátaimmal alapított csapattal, sokkal több
            tornán tudunk résztvenni.</q>
        </span>
    </div>
    <i class="bi bi-quote col-2"></i>
</div>
<div class="row mx-auto pt-5" id="matchreportSession">
    <div class="col-8">
        <img src="../../../assets/mainpage/Tournaments.PNG" id="tournaments" class="float-end me-5" alt="matchreport">
    </div>
    <div id="matchreportText" class="col-4 justify-content-center text-center d-flex">Böngésszen <br> a tornák között</div>
</div>
<footer class="mx-auto justify-content-center text-center d-flex">
    Copyright © 2022 Foottour team
</footer>