<div id="container" class="pt-5 mx-auto">
  <h1 class="text-center">Elérhető tornák</h1>
  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown">
        //dropdown
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav text-center w-100 mx-auto">
          <li class="nav-item mx-auto">
            <div class="mt-3">
              <select id="federations">
                <option value="0">Bárhol</option>
                <option value="1">Bács-Kiskun</option>
                <option value="2">Baranya</option>
                <option value="3">Békés</option>
                <option value="4">Borsod-Abaúj-Zemplén</option>
                <option value="5">Budapest</option>
                <option value="6">Csongrád</option>
                <option value="7">Fejér</option>
                <option value="8">Győr-Moson-Sopron</option>
                <option value="9">Hajdú-Bihar</option>
                <option value="10">Heves</option>
                <option value="11">Jász-Nagykun-Szolnok</option>
                <option value="12">Komárom-Esztergom</option>
                <option value="13">Nógrád</option>
                <option value="14">Somogy</option>
                <option value="15">Szabolcs-Szatmár-Bereg</option>
                <option value="16">Tolna</option>
                <option value="17">Vas</option>
                <option value="18">Veszprém</option>
                <option value="19">Zala</option>
              </select>
            </div>
          </li>
          <li class="nav-item mx-auto">
            <div class="custom-slider mx-auto">
              <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
            </div>
          </li>
          <li class="nav-item mx-auto w-auto">
            <mat-form-field>
              <ngx-multiple-dates [matDatepicker]="picker" [(ngModel)]="model" [color]="datePickerColor" placeholder="Kiválasztott napok" name="excludedDates"></ngx-multiple-dates>
              <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </li>
          <li class="nav-item mx-auto pb-4 mt-0">
            <button type="button" id="btnFilterSearch" class="btn btn-outline-success float-start mt-3">Szűrés</button>
          </li>
          <li class="nav-item mx-auto">
            <form class="d-flex mt-3">
              <input class="form-control me-2" type="search" placeholder="Search" #parameter>
              <button class="btn btn-outline-success" type="submit" (click)="getBySearchParameter(parameter.value)">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="row row-cols-auto justify-content-around mx-auto">
<div class="card m-4 col" style="width: 18rem;" *ngFor="let tournament of tournaments">
    <img src="../../../assets/logo.png" class="card-img-top" alt="...">
    <hr class="mb-1">
    <div class="card-body text-center">
      <h4 class="card-title text-center">{{tournament.name}}</h4>
      <p class="card-text mt-4 text-start">
        Szervező: {{organizer}} <br>
        Helyszín: {{tournament.location}} <br>
        Nevezési díj: {{tournament.entryFee}} Ft<br>
        Időpont: {{tournament.startDate | date: "yyyy.MM.dd hh:mm"}}
      </p>
      <input type="button" class="btn btn-primary btn-large" value="Részletek" 
      [routerLink]="'/database/tournaments/' + tournament.id">
    </div>
</div>
</div>
</div>
