@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")

$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px

body
    height: 80%

hr
    height: 2px
    color: green

h1
    font-size: 64px
    color: white
    margin-bottom: 5%

form
    max-width: 250px
    min-width: 250px

#container
    max-width: 1464px
    position: relative
    top: 5%

select
    width: 150px
    height: 2.4rem

::ng-deep
    .custom-slider
        width: 400px
        @media ( max-width: 400px)
            width: 300px
            
        .ngx-slider-pointer
            background: green !important
            // height: 24px !important
            // width: 24px !important
        .ngx-slider-pointer:after
            display: none
            
    .mat-form-field
        font-size: 18px
    .mat-form-field-label
        color: #01A310 !important
    .mat-form-field-underline
        background-color: #01A310 !important

mat-datepicker-toggle
    color: #01A310 !important
    font-size: 24px
