@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")

body
    height: 80%

hr
    height: 2px
    color: green

h1
    color: white
    margin-bottom: 5%

form
    max-width: 250px
    min-width: 250px

#container
    max-width: 1464px
    position: relative
    top: 5%

select
    width: 250px
    height: 2.4rem

::ng-deep
    .custom-slider
        .ngx-slider-pointer
            background: rgb(255, 255, 0) !important
        .ngx-slider-tick
            background: rgb(255, 255, 0) !important