<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
    <a class="navbar-brand" href="#home">FootTour</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#about">Az oldalról</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">Rólunk</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Adatbázis</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" routerLink="/database/tournaments">Tornák</a>
            <a class="dropdown-item" routerLink="/database/players">Játékosok</a>
          </div>
        </li>
      </ul>
      <input type="button" value="Belépés" class="btn-outline-success btn-light btn button" (click)="hideMainPage()" routerLink="/login">
      <input type="button" value="Regisztráció" class="btn btn-success button" (click)="hideMainPage()" routerLink="/register">
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div *ngIf="status.isDisplayed" class="container-fluid text-center px-0" id="relative">
  <div id="logocontainer">
    <img src="./assets/logo.png" alt="logo" class="img-fluid">
    <h1>
      Millió focistának, ezer forintból!
    </h1>
  </div>
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="carousel-img" src="https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg"
          alt="Első kép">
      </div>
      <div class="carousel-item">
        <img class="carousel-img" src="https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg"
          alt="Második kép">
      </div>
      <div class="carousel-item">
        <img class="carousel-img" src="https://i.pinimg.com/originals/a9/88/a4/a988a47e605cacc02b0bb41c85270de3.jpg"
          alt="Harmadik kép">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Előző</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Következő</span>
    </button>
  </div>
</div>

<div *ngIf="status.isDisplayed" class="container-fluid">
  <div class="card mb-3 bg-secondary mx-5 my-3">
    <div class="row g-0">
      <div class="col-md-4 col-sm-12">
        <img src="../assets/player.png" class="img-fluid rounded-start" alt="Játékos példa">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias ipsam, vel doloremque, quod at ducimus alias, veritatis reprehenderit ipsum fuga libero iure nemo possimus. Recusandae quam libero ducimus dolor minima.
          Unde, tempore dolorum voluptates voluptatibus doloremque odio hic quia autem harum facilis delectus animi eligendi, nobis sunt tenetur earum pariatur quisquam culpa quis dolor explicabo aliquam. Nobis quod recusandae aliquam!
          At id reiciendis impedit magnam aperiam atque cupiditate nihil vel eveniet illo asperiores, aspernatur nobis ipsam veniam laudantium. Nemo reiciendis consequatur officia mollitia asperiores aspernatur similique debitis, ad non omnis!
          Quaerat, voluptate error quod odio delectus voluptates non ab magnam ipsum ratione. Sed tenetur maxime odio dicta porro optio rem animi, incidunt quasi voluptatibus ipsa omnis eum tempora magni dolores.
          Odio eveniet voluptates nisi facere repudiandae libero ipsum a perferendis asperiores? Ducimus aut nobis dolore eaque voluptates quam sapiente excepturi, harum tempore illo, eveniet voluptate? Iure amet sequi praesentium eum?
          Soluta rem aliquam unde impedit non autem atque quidem ea ullam, nostrum consequatur modi tempore eius debitis labore libero maiores adipisci rerum voluptatem sapiente inventore! Perspiciatis eligendi iste culpa vel.
          Magnam delectus autem eveniet hic nesciunt eos eius consectetur facilis accusamus, expedita maiores, voluptas, sapiente consequuntur voluptatum libero voluptatibus minus saepe quia rerum corporis natus. Voluptate fuga adipisci dolor facere?
          Voluptas placeat, recusandae debitis natus veritatis perspiciatis atque! Autem minus doloremque dolores! Porro, ratione nisi! Impedit sed, harum iure autem eius fuga eveniet recusandae rem, asperiores, id vel adipisci cumque.
          Blanditiis nam, esse dolor dicta perferendis pariatur eveniet fuga culpa voluptate ex libero odit magnam voluptatum quisquam quas repudiandae aspernatur corrupti repellat iste quae sit sequi praesentium animi iusto. Cum?
          Pariatur rem corrupti mollitia alias officiis corporis! Hic perferendis sit tenetur quam voluptatem magni provident repellendus id fugiat voluptates quisquam numquam, expedita obcaecati dolorem rem tempora fuga iusto dignissimos vero.
          Dignissimos accusantium aliquid omnis perferendis deleniti modi reprehenderit delectus quas nostrum, voluptatem amet error soluta explicabo rem? Aut sequi suscipit iure corrupti saepe, officia nesciunt perspiciatis, ab exercitationem reprehenderit aliquid?</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="status.isDisplayed" class="container-fluid">
  <div class="card mb-3 bg-secondary mx-5 my-3">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis magni totam, nulla laborum obcaecati dignissimos repellat necessitatibus, inventore ducimus, minus in quibusdam incidunt. Facere sapiente modi consequuntur? Voluptatibus, illo id!
          Adipisci ea ex sapiente fugiat exercitationem iusto distinctio nam provident eligendi quo, vel explicabo animi blanditiis eum vero deleniti. Doloremque dolor voluptatem veniam itaque cumque voluptate esse consequuntur blanditiis minus.
          Adipisci praesentium earum minima ex corporis delectus impedit temporibus? Recusandae aut illum sunt dolorem minima quis aperiam cumque assumenda enim, perferendis laboriosam consequuntur impedit et possimus quidem harum sed ipsum!
          Sit eum obcaecati assumenda eaque, molestias facere laborum consequatur recusandae! Velit fugit tempora unde necessitatibus, animi eligendi iste quidem amet enim exercitationem, culpa sit in praesentium ipsum quas aliquam cum.
          Nemo corrupti natus itaque, pariatur eaque quibusdam? Eaque fugiat sapiente laboriosam, velit enim quae reprehenderit corrupti odio? Dignissimos cumque enim similique ea fuga voluptatum minima sint. Ducimus nemo quam harum?
          Tempora, mollitia accusantium cum omnis accusamus, modi nemo dolore nam beatae qui, natus cupiditate. Dolorum assumenda officiis inventore ad ducimus labore vitae molestiae corporis sunt? Sint nulla adipisci doloribus nisi!
          Veniam qui nam voluptas velit reprehenderit dignissimos distinctio, sapiente nobis temporibus voluptatem. Iusto earum quod expedita eaque, facilis quae sunt autem nam animi suscipit ad delectus aliquid perspiciatis aspernatur illo?
          Enim qui veritatis quia consequatur maxime exercitationem itaque error. Illum ipsam voluptatem eligendi natus eius sed, fuga quis, possimus aut quam nulla eveniet sapiente perspiciatis corrupti minima quidem, voluptatibus vel.
          Ullam corporis molestias quae eius quo nam at voluptatibus illo beatae! Architecto accusantium voluptate nobis alias quis, odio quae magnam maxime porro harum, explicabo excepturi exercitationem ipsam praesentium, ipsum hic?
          Corporis, fugiat similique rerum consequatur itaque consequuntur error officiis perferendis veritatis dicta tempora nihil et quos soluta, nisi earum eaque eos repellat impedit cum in maxime sunt hic recusandae! Fugit?
          Voluptatum atque fuga quaerat facere, earum saepe. Minus cum aut, debitis nisi aspernatur quia tenetur doloribus iure ullam asperiores magnam nemo labore molestiae vitae delectus error deleniti exercitationem voluptas distinctio!</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="../assets/bracket.png" class="img-fluid rounded-start" alt="Torna példa">
      </div>
    </div>
  </div>
</div>