<div id="container" class="pt-5 mx-auto">
  <h1 class="text-center">Elérhető tornák</h1>
<div class="row row-cols-auto justify-content-around mx-auto">
<div class="card m-4 col" style="width: 18rem;" *ngFor="let tournament of tournaments">
    <img src="../../../assets/logo.png" class="card-img-top" alt="...">
    <hr class="mb-1">
    <div class="card-body text-center">
      <h4 class="card-title text-center">{{tournament.name}}</h4>
      <p class="card-text mt-4 text-start">
        Szervező: {{tournament.organizer}} <br>
        Helyszín: {{tournament.location}} <br>
        Nevezési díj: {{tournament.entry_fee}} Ft<br>
        Időpont: {{tournament.start_date}}
      </p>
      <input type="button" class="btn btn-primary btn-large" value="Részletek" 
      [routerLink]="'/availabletournaments/tournamentinfo'">
    </div>
</div>
</div>
</div>
