<h2 class="w-100 text-center bg-danger">Példa Torna</h2>
<table class="table col-lg-12 mb-5 mt-3 mx-auto">
    <thead>
      <tr>
        <th scope="col" class="text-center">Mezszám</th>
        <th scope="col" class="text-center">Név</th>
        <th scope="col">asd</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><input type="number" name="" id=""></th>
            <td><input type="text" name="" id=""></td>
            <td>asd</td>
        </tr>
    </tbody>
</table>